<!-- Nav Bar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Cook Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="../">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/recipes/viewall">View Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/recipes/create">Add a Recipe<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item float-right">
                <a class="nav-link" href="/users/login">Login</a>
            </li>
        </ul>

    </div>
</nav>
<br /><br /><br />
<div class="container backColor text-light">
    <form>
        <fieldset>
            <legend>Add your recipe</legend>
            <div class="form-group">
                <label for="recipeName">Recipe name</label>
                <textarea class="form-control" id="recipeName" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleTextarea">List your ingredients here</label>
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleTextarea">List your directions here</label>
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="recipeImage">Picture of your deliciousness</label>
                <textarea class="form-control" id="recipeImage" rows="1" placeholder="Enter a URL for an image of your recipe"></textarea>
            </div>
            <button type="submit" class="btn btn-primary rounded-pill">Submit</button>
            <br /><br />

        </fieldset>
    </form>
</div>