
<br /><br /><br />
<div class="container backColor text-light">
    <form>
        <fieldset>
            <legend>Add your recipe</legend>
            <div class="form-group">
                <label for="recipeName">Recipe name</label>
                <textarea class="form-control" id="recipeName" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="ingredients">List your ingredients here</label>
                <textarea class="form-control" id="ingredients" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="directions">List your directions here</label>
                <textarea class="form-control" id="directions" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="recipeImage">Picture of your deliciousness</label>
                <textarea class="form-control" id="recipeImage" rows="1" placeholder="Enter a URL for an image of your recipe"></textarea>
            </div>
            <button type="submit" class="btn btn-primary rounded-pill" id = "create">Submit</button>
            <br /><br />

        </fieldset>
    </form>
</div>



<script src="../public/assets/js/create.js"></script>