
<br /><br />

<div class="backColor p-3">

    <h1 class="mt-4 head">Dashboard</h1>
    <p class="lead mb-3">Welcome, you are now logged in.</p>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
</div>