<div class="row">
    <div class="col-md mx-auto" id="results-col">
        <div id="err-message"></div>
        <table class="table table-striped table-hover text-light" id='table'>
            <thead id="pheader"></thead>

            <tbody id="tableBody"></tbody>

        </table>
    </div>
</div>





<!-- <div class="container">
    <div class="row">
        <div class="col-md-4" id = "recipe-image">
  
        </div>
        <div class="col-md-8">

            <div class="card text-white bg-primary mb-3 backColor" style="max-width: 20rem;">
                <span class="card-header" id="recipe-name"></span> by <span id="author-name"></span>

                <div class="card-body">
                    <h4 class="card-title">Ingredients</h4>
                    <div class="card-text" id="recipe-ingred"></div>
                    <h4 class="card-title">Instructions</h4>
                    <div class="card-text" id="recipe-direct"></div>
                </div>
            </div>
        </div>
    </div>
</div> -->