<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">

    <!-- <style>
        body {
            background-image: url('https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&auto=format&fit=crop&w=2428&q=80');
            background-position: center;
            background-size: cover;
            height: 650px;
        }

        #recipe_image {
            width: 240px;
            height: 350px;
            object-fit: contain;
            margin-left: -3em;
        }
        .backColor{
            background-color: #343a40 !important;
        }

        .head{
            color: #fcfefa;
        }

        @media screen and (max-width: 768px) {
            #recipe_image {
                width: 150px;
                height: 300px;
            }
        }

        @media screen and (max-width: 481px) {
            #recipe_image {
                width: 120px;
                height: 200px;
            }
        }
    </style> -->

    <title>Cook Book</title>
</head>

<body>
    <div class="container">
        <%- body %>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="../assets/js/script.js"></script>
    
</body>

</html>