<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootswatch Link -->
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <!-- CSS Link -->
    <link rel="stylesheet" href="../assets/css/style.css">

    <title>Cook Book</title>
</head>

<body>
    <div class="container">
        <!-- Nav Bar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Cook Book</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="view-all nav-link" id="view-all" href="/recipes/viewall">View Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/recipes/create">Add a Recipe</a>
                    </li>
                    <li class="nav-item float-right">
                        <a class="nav-link" href="/users/login">Login</a>
                    </li>
                    <li class="nav-item float-right">
                        <a class="nav-link" href="/users/logout">Logout</a>
                    </li>
                </ul>

            </div>
        </nav>
        <!-- Why is this in the same div as nav? ---------------------------------------------Anna-->
        <%- body %>
    </div>

    <!-- jQuery Link -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Cloudflare Link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS Link -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- JS Link -->
    <script type="text/javascript" src="../assets/js/script.js"></script>

</body>

</html>