body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&auto=format&fit=crop&w=2428&q=80');

    /* background-image: url('https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&auto=format&fit=crop&w=2428&q=80'); */
    background-position: center;
    background-size: cover;
    height: 650px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.recipeImg{
    height: 200px;
    width: 200px;
}

.recipe-card{
    margin-bottom: 40px;
}

#searchButton {
    background-color: #343a40 !important;
}

#indBody {
    background-color: #343a40 !important;
    /* float: left; */
}

#recipe_image {
    width: 240px;
    height: 350px;
    object-fit: contain;
    margin-left: -3em;
}

#recipeImage {
    height: 200px;
    width: auto;
}

#darken{
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
}

#search-button{
    border-radius: 5px;
}
@media screen and (max-width: 768px) {
    #recipe_image {
        width: 150px;
        height: 300px;
    }
}

@media screen and (max-width: 481px) {
    #recipe_image {
        width: 120px;
        height: 200px;
    }
}